@model IEnumerable<BIZNEWS_FREE.Models.Article>


<a href="/admin/article/create" class="btn btn-dark btn-block">Create New Article</a>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Is Active</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                
            </tr>
        }
    </tbody>
</table>
